In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('met_museum_objects.csv')

/var/folders/rk/20yydmvn1bnd2drlzkvx8y6c0000gn/T/ipykernel_50376/3712701263.py:1: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('met_museum_objects.csv')

In [9]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"

In [10]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448203 entries, 0 to 448202
Data columns (total 43 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            448203 non-null  object
 1   Is Highlight             448203 non-null  bool
 2   Is Public Domain         448203 non-null  bool
 3   Object ID                448203 non-null  int64
 4   Department               448203 non-null  object
 5   Object Name              445568 non-null  object
 6   Title                    416756 non-null  object
 7   Culture                  186518 non-null  object
 8   Period                   71882 non-null   object
 9   Dynasty                  23018 non-null   object
 10  Reign                    10817 non-null   object
 11  Portfolio                20370 non-null   object
 12  Artist Role              259909 non-null  object
 13  Artist Prefix            88928 non-null   object
 14  Artist Display Name      261111 non-null  object
 15  Artist Display Bio       224064 non-null  object
 16  Artist Suffix            10212 non-null   object
 17  Artist Alpha Sort        261088 non-null  object
 18  Artist Nationality       196132 non-null  object
 19  Artist Begin Date        215234 non-null  object
 20  Artist End Date          212825 non-null  object
 21  Object Date              432609 non-null  object
 22  Object Begin Date        448203 non-null  int64
 23  Object End Date          448203 non-null  int64
 24  Medium                   440155 non-null  object
 25  Dimensions               385360 non-null  object
 26  Credit Line              447533 non-null  object
 27  Geography Type           58463 non-null   object
 28  City                     30520 non-null   object
 29  State                    8360 non-null    object
 30  County                   2488 non-null    object
 31  Country                  74450 non-null   object
 32  Region                   31078 non-null   object
 33  Subregion                21716 non-null   object
 34  Locale                   15095 non-null   object
 35  Locus                    6939 non-null    object
 36  Excavation               15519 non-null   object
 37  River                    2103 non-null    object
 38  Classification           389924 non-null  object
 39  Rights and Reproduction  22975 non-null   object
 40  Link Resource            448203 non-null  object
 41  Metadata Date            448203 non-null  object
 42  Repository               448203 non-null  object
dtypes: bool(2), int64(3), object(38)
memory usage: 141.1+ MB

           Object ID  Object Begin Date  Object End Date
count  448203.000000       4.482030e+05     4.482030e+05
mean   346272.873187       1.390817e+03     1.493446e+03
std    206914.987003       2.779816e+04     2.778712e+04
min         1.000000      -9.500000e+04    -3.500000e+04
25%    198808.500000       1.567000e+03     1.600000e+03
50%    349816.000000       1.800000e+03     1.850000e+03
75%    481764.500000       1.895000e+03     1.910000e+03
max    750830.000000       1.859186e+07     1.859186e+07

In [11]:

missing_count = df.isnull().sum()
missing_percent = df.isnull().mean() * 100

completeness_df = pd.DataFrame({
    "missing_count": missing_count,
    "missing_percent": missing_percent
}).sort_values(by="missing_percent", ascending=False)

completeness_df

                         missing_count  missing_percent
River                           446100        99.530793
County                          445715        99.444894
Locus                           441264        98.451818
State                           439843        98.134774
Artist Suffix                   437991        97.721568
Reign                           437386        97.586585
Locale                          433108        96.632106
Excavation                      432684        96.537506
Portfolio                       427833        95.455184
Subregion                       426487        95.154874
Rights and Reproduction         425228        94.873975
Dynasty                         425185        94.864381
City                            417683        93.190586
Region                          417125        93.066088
Geography Type                  389740        86.956134
Period                          376321        83.962178
Country                         373753        83.389223
Artist Prefix                   359275        80.158990
Culture                         261685        58.385374
Artist Nationality              252071        56.240364
Artist End Date                 235378        52.515936
Artist Begin Date               232969        51.978456
Artist Display Bio              224139        50.008367
Artist Role                     188294        42.010875
Artist Alpha Sort               187115        41.747824
Artist Display Name             187092        41.742692
Dimensions                       62843        14.021102
Classification                   58279        13.002813
Title                            31447         7.016240
Object Date                      15594         3.479227
Medium                            8048         1.795615
Object Name                       2635         0.587903
Credit Line                        670         0.149486
Link Resource                        0         0.000000
Metadata Date                        0         0.000000
Object Number                        0         0.000000
Object End Date                      0         0.000000
Object Begin Date                    0         0.000000
Is Highlight                         0         0.000000
Department                           0         0.000000
Object ID                            0         0.000000
Is Public Domain                     0         0.000000
Repository                           0         0.000000

### Completeness – Interpretation
The completeness analysis shows a strong variability across attributes.
Several fields (e.g., River, County, Excavation) exhibit more than 95% missing values, indicating structurally sparse information that is only available for specific objects.
Conversely, core descriptive and identifier attributes (e.g., Object ID, Title, Medium, Department) present high completeness, confirming the dataset’s suitability for general analysis.
This assessment guides the selection of relevant attributes for subsequent processing.

In [12]:
#Logical Consistency Check
# Artist Begin Date ≤ Artist End Date


# Convert to numeric if needed
df["Artist Begin Date"] = pd.to_numeric(df["Artist Begin Date"], errors="coerce")
df["Artist End Date"] = pd.to_numeric(df["Artist End Date"], errors="coerce")

artist_date_inconsistency = df[
    (df["Artist Begin Date"].notna()) &
    (df["Artist End Date"].notna()) &
    (df["Artist Begin Date"] > df["Artist End Date"])
]

len(artist_date_inconsistency)

21

In [ ]:
#Logical Consistency Check
# Object Begin Date ≤ Object End Date

df["Object Begin Date"] = pd.to_numeric(df["Object Begin Date"], errors="coerce")
df["Object End Date"] = pd.to_numeric(df["Object End Date"], errors="coerce")

object_date_inconsistency = df[
    (df["Object Begin Date"].notna()) &
    (df["Object End Date"].notna()) &
    (df["Object Begin Date"] > df["Object End Date"])
]

len(object_date_inconsistency)

195

In [20]:

artist_role_inconsistency = df[
    df["Artist Display Name"].isna() &
    df["Artist Role"].notna()
]

len(artist_role_inconsistency)

0

In [21]:
artist_info_inconsistency = df[
    df["Artist Display Name"].isna() & (
        df["Artist Begin Date"].notna() |
        df["Artist End Date"].notna() |
        df["Artist Nationality"].notna()
    )
]

len(artist_info_inconsistency)

0

In [22]:
artist_object_time_inconsistency = df[
    df["Artist Begin Date"].notna() &
    df["Object Begin Date"].notna() &
    (df["Object Begin Date"] < df["Artist Begin Date"])
]

len(artist_object_time_inconsistency)

4905

In [23]:
public_domain_inconsistency = df[
    (df["Is Public Domain"] == True) &
    (df["Rights and Reproduction"].notna())
]

len(public_domain_inconsistency)

3

In [24]:
geo_inconsistency = df[
    df["City"].notna() & df["Country"].isna()
]

len(geo_inconsistency)

13068

In [25]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Public Domain', 'Object ID',
       'Department', 'Object Name', 'Title', 'Culture', 'Period', 'Dynasty',
       'Reign', 'Portfolio', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Metadata Date',
       'Repository'],
      dtype='object')

In [26]:
# Department value counts
dept_counts = df["Department"].value_counts(dropna=False)
dept_percent = df["Department"].value_counts(normalize=True, dropna=False) * 100

department_summary = pd.DataFrame({
    "count": dept_counts,
    "percent": dept_percent
})

department_summary

                                            count    percent
Department
Drawings and Prints                        154445  34.458716
European Sculpture and Decorative Arts      42528   9.488558
Asian Art                                   36727   8.194278
Photographs                                 36258   8.089638
Costume Institute                           33681   7.514675
Egyptian Art                                27542   6.144983
Greek and Roman Art                         17292   3.858073
Islamic Art                                 15082   3.364993
Modern and Contemporary Art                 13991   3.121577
Arms and Armor                              13486   3.008904
Arts of Africa, Oceania, and the Americas   12427   2.772628
American Decorative Arts                    12330   2.750986
Medieval Art                                 7343   1.638320
Ancient Near Eastern Art                     6185   1.379955
American Paintings and Sculpture             5451   1.216190
Musical Instruments                          5303   1.183169
European Paintings                           2760   0.615792
The Cloisters                                2628   0.586341
Robert Lehman Collection                     2589   0.577640
The Libraries                                 155   0.034583

In [27]:
# Classification value counts
class_counts = df["Classification"].value_counts(dropna=False)
class_percent = df["Classification"].value_counts(normalize=True, dropna=False) * 100

classification_summary = pd.DataFrame({
    "count": class_counts,
    "percent": class_percent
})

classification_summary

                                           count    percent
Classification
Prints                                     69260  15.452819
NaN                                        58279  13.002813
Prints|Ephemera                            30033   6.700758
Photographs                                26821   5.984119
Drawings                                   25230   5.629146
...                                          ...        ...
Prints|Drawings|Books                          1   0.000223
Books|Manuscripts|Ornament & Architecture      1   0.000223
Ornament & Architecture|Books                  1   0.000223
Albums|Books                                   1   0.000223
Paper-Documents|Prints                         1   0.000223

[1078 rows x 2 columns]